body {
  color: #333;
  background-color: #eaeaea;
  font-family: Roboto;
  font-size: 16px;
  padding: 0px;
}
h1, h2 {
  font-family: Lora;
}
.section-main {
  display: flex;
  background-color: #556b2f;
  margin-top: 40px;
  margin-bottom: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-main-logo {
  width: 160px;
}
.section-main-title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
  font-family: Lora;
  font-size: 55px;
  font-weight: 700;
}
.section-main-subtitle {
  padding-bottom: 40px;
  color: #fff;
  font-size: 22px;
}
.section-main-button {
  background-color: #8fbc8f;
  border-radius: 25px;
  color: #fff;
  cursor: pionter;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 30px;
}
.second-section {
  
}
