body {
  color: #333;
  background-color: #eaeaea;
  font-family: Roboto;
  font-size: 16px;
  padding: 0px;
}
h1, h2 {
  font-family: Lora;
}
.section-main {
  display: flex;
  flex-direction: column;
  background-color: #556b2f;
  margin-top: 40px;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
}
.section-main-logo {
  width: 160px;
}
.section-main-title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
  font-family: Lora;
  font-size: 55px;
  font-weight: 700;
}
.section-main-subtitle {
  padding-bottom: 40px;
  color: #fff;
  font-size: 22px;
}
.section-main-button {
  background-color: #8fbc8f;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pionter;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 30px;
}
.second-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.second-section-img {
  width: 500px;
  border: 5px solid #556b2f;
  border-radius: 20px;
}
.second-section-info {
  margin-left: 30px;
  max-width: 600px;
}
.section-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #8fbc8f;
  text-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #556b2f;
  text-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
.second-section-text {
  margin: 30px;
  color: #666;
  font-size: 18px;
}
.second-section-name {
  color: #556b2f;
  text-transform: capitalize;
}
.second-section-name2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #8fbc8f;
}
