body {
  color: #333;
  background-color: #eaeaea;
  font-family: Roboto;
  font-size: 16px;
  padding: 0px;
}
h1, h2 {
  font-family: Lora;
}
.section-main {
  display: flex;
  background-color: #556b2f;
  margin-top: 40px;
  margin-bottom: 120px;
  flex-direction: column;
  justify-content: center;
}
.section-main-logo {
  width: 160px;
}
